{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "",

    "GOOGLE_CLIENT_ID": "REPLACE_WITH_YOUR_GOOGLE_OAUTH_CLIENT_ID.apps.googleusercontent.com",
    "ADMIN_EMAILS": "admin1@gmail.com,admin2@gmail.com",

    "GITHUB_TOKEN": "REPLACE_WITH_FINE_GRAINED_PAT_CONTENTS_READ_WRITE",
    "GITHUB_REPO": "your-github-username/your-store-repo",
    "GITHUB_BRANCH": "main",

    "BREVO_API_KEY": "",
    "BREVO_LIST_ID": "",
    "ALLOWED_ORIGINS": "",

    "ADMIN_DEV": "0"
  },
  "Host": {
    "CORS": "*"
  }
}
